<div class="footer_inner">

  <img class="footer_logo" src="img/itegel_logo200.png" height="80px" width="200px" alt="logo company">

  <p> Время загрузки страницы {{ responseTime }} ms</p>

  <nav class="footer_nav">
    <ul>
      <li>
        Главная
      </li>
      <li>
        Каталог
      </li>
      <li>
        О проекте
      </li>
      <li>
        Сотрудничество
      </li>
    </ul>
  </nav>
</div>