<nav class="menu">
  <ul>
    <li>
      {{#if isKatalog}}
        <a class="nav_link" href="Katalog">Каталог</a>
      {{else}}
        <a class="nav_link" href="Katalog">Каталог</a>
      {{/if}}
    </li>
<!--    <li>-->
<!--      {{#if isKatalig}}-->
<!--        <a class="nav_link" href="index.html#project_text">О проекте</a>-->
<!--      {{else}}-->
<!--        <a class="nav_link" href="index.html#project_text">О проекте</a>-->
<!--      {{/if}}-->
<!--    </li>-->
    <li>
      {{#if iscooperation}}
        <a class="nav_link" href="cooperation">Сотрудничество</a>
      {{else}}
        <a class="nav_link" href="cooperation">Сотрудничество</a>
      {{/if}}
    </li>
    <li>
      {{#if isregistrPage}}
        <a class="nav_link" href="registrPage">Регистрация</a>
      {{else}}
        <a class="nav_link" href="registrPage">Регистрация</a>
      {{/if}}
    </li>
  </ul>
</nav>